/*general style*/
html, body {
    margin: 0;
    padding: 0;
}

/*style for window welcome*/
textarea {
    outline: none;
    resize: none;
    overflow: auto;
}

#welcome {
    width: 550px;
    text-align: center;
    margin: 20% auto 0 auto !important;
}

#welcome h3 {
    font-size: 2.3em;
    font-family: Verdana, "Times New Roman";
    margin: 20px;
}

#name {
    width: 500px;
    height: 35px;
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
}

#newGame {
    margin: 25px auto;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 3px;
    color: black;
    background-color: silver;
}

#newGame:hover {
    background-color: green;
    color: white;
}


/*style for game*/
#game {
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.items {
    padding: 0;
    margin: 0;
}

.items img {
    width: 150px;
    height: 150px;
}