/*general style*/
html, body {
    margin: 0;
    padding: 0;
}

/*style for window welcome*/
textarea {
    outline: none;
    resize: none;
    overflow: auto;
}

#welcome {
    width: 550px;
    text-align: center;
    margin: 15% auto 0 auto !important;
}

#welcome h3 {
    font-size: 2.3em;
    font-family: Verdana, "Times New Roman";
    margin: 20px;
}

#name {
    width: 500px;
    height: 35px;
    font-size: 1.7em;
    padding: 10px;
    text-align: center;
}

#newGame {
    margin: 25px auto;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 3px;
    color: black;
    background-color: silver;
}

#newGame:hover {
    background-color: green;
    color: white;
}


/*style for game*/
#game {
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.items {
    padding: 0;
    margin: 0;
}

.items img {
    width: 150px;
    height: 150px;
}

#counter {
    position: absolute;
    top: 5px;
    left: 5px;
}

#counter p {
    margin: 0;
}

#counter input {
    width: 150px;
    height: 20px;
}

/*modal window*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 15% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    text-align: center;
    height: 250px;
}

.congrat {
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 10px;
}